.uppanel {
    overflow: hidden;
}
.gos {
    p {
        color: blue;
        font:30px Lato, sans-serif, -apple-system;
    }
    span {
        color:red;
        font:30px Lato, sans-serif, -apple-system;
    }
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    float: left;
    margin-left:270px;
    margin-top: 7px;
    a {
        color: blue;
        font:30px Lato, sans-serif, -apple-system;
        font-weight: 800;
    }
    span {
        font-weight: 800;
    }
}
.graj {
    p {
        color: blue;
        font:30px Lato, sans-serif, -apple-system;
    }
    span {
        color:red;
        font:30px Lato, sans-serif, -apple-system;
    }
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    float: left;
    margin-left:25px;
    margin-top:17px;
}
.graj2 {
    p {
        color: blue;
        font:30px Lato, sans-serif, -apple-system;
    }
    span {
        color:red;
        font:30px Lato, sans-serif, -apple-system;
    }
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    float: left;
    margin-left:406px;
    margin-top:17px;
}
.graj3 {
    p {
        color: blue;
        font:30px Lato, sans-serif, -apple-system;
    }
    span {
        color:red;
        font:30px Lato, sans-serif, -apple-system;
    }
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    float: left;
    margin-left:22px;
    margin-top:17px;
}
.full {
    a {
        color: rgb(50, 66, 12);
        font:100px Lato, sans-serif, -apple-system;
        font-weight: 800;
    }
}
.loup{
    p {
        color: blue;
        font:30px Lato, sans-serif, -apple-system;
    }
    span {
        color:red;
        font:30px Lato, sans-serif, -apple-system;
    }
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    float: left;
    a {
        margin-left:12px;
        margin-top:15px;
    }
    img {
        margin-left:12px;
        margin-top:15px;
    }
}
.login{
    p {
        color: blue;
        font:30px Lato, sans-serif, -apple-system;
    }
    span {
        color:red;
        font:30px Lato, sans-serif, -apple-system;
    }
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    float: left;
    background-color: #0d4cd3;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    color: #fff;
    text-align: left;
    transition: background-color .7s;
    padding: 8px 16px;
    background: #edf2fe;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-top:7px;
    margin-left:30px;
}
.sberall {
    margin-top:10px;
    margin-left:-20px;
    height: 350px;
    width: 1843px;
    overflow:auto;
    background: linear-gradient(86deg, rgb(223, 222, 255) 0%, rgb(255, 227, 227) 100%);
}
.sbertext {
    float: left;
    margin-top:80px;
    margin-left:420px;
    max-width: 550px;
    h1 {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #0b1f33;
        font-size: 36px;
        line-height: 40px;
    }
    p {
        color: #0b1f33;
        margin-top: -10px;
        font-size: 16px;
        line-height: 24px;
        font-family: Lato, Arial, sans-serif, -apple-system;
        text-align: left;
    }
}
.sberimg {
    float: left;
    margin-left:85px;
    margin-top:45px;
    img {
        height: 256px;
        width: 384px;
    }
}
.whatsber {
    margin-top: 60px;
    text-align: center;
    h1 {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        color: #0b1f33;
    }
}
.whatsberabout {
    max-width: 1020px; 
    font-size: 16px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    ul {
        list-style: none;
        margin-top:20px;
    }
    li {
        margin-top: 8px;
    }
    ul li:before {
        content:  "-";
        color: blue;
        position: relative;
        left: -7px;
    }    
}
.whatsberaboutframe {
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 260px;
    background: #fff;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
    border-radius: 12px;
}
.osobsber {
    margin-top: 60px;
    text-align: center;
    h1 {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        color: #0b1f33;
    }
}
.osobsberabout1 {
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    ul {
        list-style: none;
        margin-top:20px;
    }
    li {
        margin-top: 8px;
        list-style-type: circle;
    }
    li::marker {
        color: blue;
    }
}
.osobsberaboutframe1 {
    overflow:auto;
    margin-left: 387px;
    max-width: 490px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
    border-radius: 12px;
}
.osobsberabout2 {
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    ul {
        list-style: none;
        margin-top:20px;
    }
    li {
        margin-top: 8px;
        list-style-type: circle;
    }
    li::marker {
        color: blue;
    }
}
.osobsberaboutframe2 {
    margin-top: -200px;
    overflow:auto;
    margin-left: 935px;
    max-width: 490px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
    border-radius: 12px;
}
.osobsberabout3 {
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    .vidiviplati {
        margin-top: 20px;
    }
    ul {
        list-style: none;
        margin-top:5px;    
    }
    .bugosob {
        margin-left:-38px;
    }
    .osob1 {
        margin-top: 8px;
        list-style-type: circle;
    }
    .osob1::marker {
        color: blue;
    }
    .osob2 {
        margin-top: 8px;
    }
    .osob2::before {
        content:  "-";
        color: blue;
        position: relative;
        left: -7px;
    }
}

.osobsberaboutframe3 {
    margin-top: 30px;
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 250px;
    background: #fff;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
    border-radius: 12px;
}
.osobsber4 {
    font-size: 16px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    ul {
        list-style: none;
        margin-top:20px;
    }
    li {
        margin-top: 8px;
    }
    ul li:before {
        content:  "-";
        color: blue;
        position: relative;
        left: -7px;
    }
}
.osobsberframe4 {
    margin-top: 30px;
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 270px;
    background-color: rgb(237, 242, 254);
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
    border-radius: 12px;
}
.premsber {
    margin-top: 85px;
    text-align: center;
    h1 {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        color: #0b1f33;
    }
}
.premsber1 {
    max-width: 1020px; 
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    .premsberp {
        margin-top: 20px;
    }
    p {
        margin-left: 25px;
        font-size: 16px;
        list-style: none;
        margin-top: -5px;
    }
    ul {
        list-style: none;
        margin-top:20px;
        margin-left:-10px;
    }
    li {
        margin-top: 8px;
        margin-left:30px;
        list-style-type: circle;
    }
    li::marker {
        color: blue;
    }
}
.bluepprem {
    overflow:auto;
    background-color: rgb(237, 242, 254);
    border-radius: 12px;
    height: 60px;
    width: 1000px;
    margin-left: 24px;
    margin-top: 25px;
    margin-bottom: 30px;
    p {
        margin-top: 18px;
    }
}
.premsber1frame {
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 480px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
}
.premsber2 {
    max-width: 1020px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    .premsberp {
        margin-top: 20px;
    }
    p {
        margin-left: 25px;
        font-size: 16px;
        list-style: none;
        margin-top: -5px;
    }
    ul {
        list-style: none;
        margin-top:-10px;
        margin-left:-15px;
        margin-bottom:0px;
    }
    li {
        margin-top: 8px;
        margin-left: 30px;
        list-style-type: none;
    }
    li:before {
        content:  "-";
        color: blue;
        position: relative;
        left: -7px;
    }
}
.premsber2frame {
    margin-top:35px;
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 170px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
}
.premsber3 {
    max-width: 960px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    .premsberp {
        margin-top: 20px;
    }
    p {
        margin-left: 25px;
        font-size: 16px;
        list-style: none;
        margin-top: -9px;
    }
}
.premsber3frame {
    margin-top:35px;
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 130px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
}
.megaprem {
    background: rgb(250, 252, 255);
    height:1050px;
    margin-top:60px;
    overflow:auto;
}
.joinsber {
    margin-top: 70px;
    text-align: center;
    h1 {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        color: #0b1f33;
    }
}
.joinprem {
    max-width: 1020px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    .howtodo {
        margin-top: 20px;
    }
    p {
        margin-left: 25px;
        font-size: 16px;
        list-style: none;
        margin-top: 20px;
    }
    ul {
        list-style: none;
        margin-top:5px;
    }
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    ol {
        list-style: none;
        margin-top:5px;
        margin-left:-15px;
    }
    .bugosob {
        margin-left:-38px;
    }
    .osob1 {
        margin-top: 8px;
        margin-left:20px;
        list-style-type: decimal;
    }
    .osob1::marker {
        color: blue;
    }
    .osob2 {
        margin-top: 8px;
    }
    .osob2::before {
        content:  "-";
        color: blue;
        position: relative;
        left: -7px;
    }
}
.bluepprem2 {
    overflow:auto;
    background-color: rgb(237, 242, 254);
    border-radius: 12px;
    height: 85px;
    width: 980px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    p {
        margin-top: 18px;
    }
}
.joinpremframe {
    margin-top: 30px;
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 1218px;
    background: #fff;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
    border-radius: 12px;
}
.howtovznos {
    margin-top: 85px;
    text-align: center;
    h1 {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        color: #0b1f33;
    }
}
.vznos {
    a {
        color: blue;
        font:16px Lato, sans-serif, -apple-system;
        text-decoration: none;
    }
    max-width: 1020px; 
    font-family: Lato, Arial, sans-serif, -apple-system;
    color: #0b1f33;
    line-height: 1.6;
    span {
        font-family: Lato, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    }
    .vznosbig {
        margin-top: 20px;
    }
    .vznosot {
        margin-top: 15px;
    }
    p {
        margin-left: 25px;
        font-size: 16px;
        list-style: none;
        margin-top: -5px;
    }
    ul {
        list-style: none;
        margin-top:20px;
        margin-left:-16px;
        margin-bottom: -5px;
    }
    li {
        margin-top: 8px;
        margin-left:20px;
        list-style-type: circle;
    }
    li::marker {
        color: blue;
    }
}
.vznosframe {
    overflow:auto;
    margin-left: 387px;
    max-width: 1037px;
    height: 780px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px #e3ebfc, 0 6px 16px #e6ebf5cc;
}
.megavznos {
    background: rgb(250, 252, 255);
    height:1000px;
    margin-top:60px;
    overflow:auto;
}