.head{
    background: rgb(248, 247, 168);
    padding: 2%;
    .right_buttons {
        a{
            color: rgb(24, 23, 20);
        }
        display: flex;
        flex-direction: row;
        .Info{
            margin-left: 5%;
            text-decoration: none;
        }
        .Juniors{
            margin-left: 10%;
            text-decoration: none;
        }
        .Seniors{
            margin-left: 10%;
            text-decoration: none;
        }   
    }
}